
<google-chart style="width: 100%" [type]="chartType" [data]="geoChartData" [options]="options"  (click)="onClickCountry($event)"   [columns]="chartColumns"
> </google-chart>

<div>
    <ul class="list">
        <li *ngFor="let continent of allContinents" [routerLink]="['/continent', continent.name]" class="item"><span class="item-icon"></span>{{continent.name}}</li>
      </ul>
</div>


<div class="ratios">
    <div>
        <span class="label">İhracat Oranı: </span>{{exportRatio}}%
    </div>
    <div>
        <span class="label">İhtalat Oranı: </span>{{importRatio}}%
    </div>
</div>