
<google-chart style="width: 100%;width: 70%;margin: 0 auto;" [type]="chartType" [data]="geoChartData" [options]="options"  (click)="onClickCountry($event)"   [columns]="chartColumns"
> </google-chart>

<div>
    <ul class="square-list">
        <li *ngFor="let continent of allContinents" [routerLink]="['/continent', continent.name]">{{continent.name}}</li>
      </ul>
</div>


<div class="ratios">
    <div>
        <span class="label">İhracat Oranı: </span>{{exportRatio}}%
    </div>
    <div>
        <span class="label">İhtalat Oranı: </span>{{importRatio}}%
    </div>
</div>